---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Kacper Niemiec Work Portfolio</h1>
			<p>
				Welcome to my protfolio Website, It is still in the process of being made, Please Be Patient
			</p>
			<ul>
				<li>Exmaple List <code>Exmaple code highlight</code></li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
